{% extends 'appbuilder/init.html' %}
{% import 'appbuilder/baselib.html' as baselib %}
{% set menu = appbuilder.menu %}
{% block body %}
    {% include 'appbuilder/general/confirm.html' %}
    {% include 'appbuilder/general/alert.html' %}

    {% block navbar %}
        <header class="top" role="header">
        {% include 'appbuilder/navbar.html' %}
        </header>
    {% endblock %}

    {% block uncontained %}{% endblock %}
    <div class="row" id= "content" >
        <div class="col-lg-3 test">
        <div class="left-menu">
            <ul class="nav navbar-nav">
                {% include 'appbuilder/navbar_menu.html' %}
            </ul>
        </div>
      </div>
      <div class="col-lg-8 content-center-margin">
            {% block messages %}
                {% include 'superset/flash_wrapper.html' %}
            {% endblock %}
            {% block content %}
            {% endblock %}
      </div>
    </div>

    <div class="container-fluid">
        {% block content_fluid %}
        {% endblock %}
    </div>

    {% block footer %}
        <footer>
          <div class="img-rounded nav-fixed-bottom">
              <div class="container-fluid">
                  {% include 'appbuilder/footer.html' %}
              </div>
          </div>
        </footer>
        <script>
                $(document).ready(function() {
                  $("#toggle").on("click",function(){
                    $("#content .col-lg-3").toggleClass("test");
                    $("#content .col-lg-8").toggleClass("content-center-margin");
                    $("#toggle").toggleClass("glyphicon-menu-hamburger")
                  });
              });
        </script>

<script>

</script>
    {% endblock %}
{% endblock %}

